body{
	background-color: #323c4c
}
#contain{
	background-color: #dadee5;
	padding:40px 40px;
	
    color: #323c4c;
   
}
.navbar{
	padding:5px 5px;
	background-color:#091833,
	color:white;
	border: solid 5px;
}

.container-fluid{
	background-color: #5b83cc;
	color: white;

}

.navbar-default .navbar-nav>li>a {
    background-color: #5b83cc;
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}

#article{
	background-color: #dadee5;
	margin: auto;	
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;

}
#article1{
   	color:#091833;
    float:left;
	background-color: #a0b5d8;
	border-radius:50%;
	border: solid  3px;
	border-color: white;
	width:250px;
	height:250px;
	margin-top:10px;
	margin-left: 30px;
	margin-right:30px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 35px;
	padding-right:5px;
	padding-left: 5px;
}
#article2{
   	color:#091833;
    float:left;
	background-color: #a0b5d8;
	border-radius:50%;
	border: solid  3px;
	border-color: white;
	width:250px;
	height:250px;
	margin-top:10px;
	margin-left: 30px;
	margin-right:30px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 35px;
	padding-right:5px;
	padding-left: 5px;
}
	
#article3{
   	color:#091833;
    float:left;
	background-color: #a0b5d8;
	border-radius:50%;
	border: solid  3px;
	border-color: white;
	width:250px;
	height:250px;
	margin-top:10px;
	margin-left: 30px;
	margin-right:30px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 35px;
	padding-right:5px;
	padding-left: 5px;
}
#article4{
   	color:#091833;
    float:left;
	background-color: #a0b5d8;
	border-radius:50%;
	border: solid  3px;
	border-color: white;
	width:250px;
	height:250px;
	margin-top:10px;
	margin-left: 30px;
	margin-right:30px;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 35px;
	padding-right:5px;
	padding-left: 5px;
}
/*#main{
	display: -webkit-flex; /* Safari */
  
#aside{
    color: white;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    background-color: #323c4c;
    margin-top: 10px;
    margin-bottom: 10px;
}    
#main{
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
   
    margin:auto;
    background-color:#323c4c;
    float:left; 
}
    
#mainA{
	background-image:url(https://travel.usnews.com/static-travel/images/destinations/44/statue_and_skyline_getty_triggerphoto.jpg);
	border:solid 3px;
	color:#091833;
	width:250px;
	height:250px;
	margin-top:20px;
	margin-left: 180px;
	margin-right:40px;
	text-align: center;
	padding-top: 40px;
	padding-right:5px;
	padding-left: 5px;
	border-radius: 25%;
	float:left;
}
#mainB{
	background-image:url(https://travel.usnews.com/static-travel/images/destinations/44/empire_state_building_getty_zsolt_hlinka.jpg);
	border:solid 3px;
	color:#091833;
	width:250px;
	height:250px;
	margin-top:20px;
	margin-left: 40px;
	margin-right:40px;
	text-align: center;
	padding-top: 40px;
	padding-right:5px;
	padding-left: 5px;
	border-radius: 25%;
	float:left;
}
#mainC{
	background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBnMuibkCkQWn3avLhR5cOYpZjnsotn4c2ojS_XYNzLisLsJE);
	border:solid 3px;
	color:#091833;
	width:250px;
	height:250px;
	margin-top:20px;
	margin-left: 40px; 
	text-align: center;
	padding-top: 40px;
	padding-right:5px;
	padding-left: 5px;
	border-radius: 25%;
	float:left;
}
iframe{
	padding-top: 40px;
	margin-left: 380px;
	padding-bottom: 60px;
}










